:root,
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #cd785c;
  --md-primary-fg-color--light: #d99a84;
  --md-primary-fg-color--dark: #b5624a;
  --md-accent-fg-color: #cd785c;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #cd785c;
  --md-primary-fg-color--light: #d99a84;
  --md-primary-fg-color--dark: #b5624a;
  --md-accent-fg-color: #cd785c;
}
